      
       <!-- ****************** PORTFOLIO SECTION! ****************** -->


        <!-- <video autoplay preload="auto" loop muted plays-inline class="media-zoom fade-in responsive vidLoop">
            <source src="Daneiel Video Reel type="video/mp4">
        </video>     -->
        
        <img class="media-zoom fade-in responsive" src="/vfx/gif/Fire-Tornado.gif" alt="">
        <img class="media-zoom fade-in responsive" src="/vfx/gif/Glowing-Elephant.gif" alt="">
        <img class="media-zoom fade-in responsive" src="/vfx/gif/Ice-Crystal.gif" alt="">
        <img class="media-zoom fade-in responsive" src="/vfx/gif/Laser-Sparks.gif" alt="">
        <img class="media-zoom fade-in responsive" src="/vfx/gif/Lightning.gif" alt="">
        <img class="media-zoom fade-in responsive" src="/vfx/gif/Lowpoly-Explosion.gif" alt="">
        <img class="media-zoom fade-in responsive" src="/vfx/gif/Lowpoly-Fire.gif" alt="">
        <img class="media-zoom fade-in responsive" src="/vfx/gif/Radial-Wave.gif" alt="">
        <img class="media-zoom fade-in responsive" src="/vfx/gif/Smoke.gif" alt="">

 
       <!-- <video preload="auto" muted plays-inline plays-inline poster="/img/projects/splash.png"  class="media-zoom fade-in responsive vidLoop" onclick="this.play();">
            <source src="vfx/Fire-Tornado.mp4" type="video/mp4">
        </video>      

        <video autoplay preload="auto" loop muted plays-inline class="media-zoom fade-in responsive vidLoop">
            <source src="vfx/Fire-Tornado.mp4" type="video/mp4">
        </video>  

        <video autoplay preload="auto" loop muted plays-inline class="media-zoom fade-in responsive vidLoop">
            <source src="vfx/Glowing-Elephant.mp4" type="video/mp4">
        </video>

        <video autoplay preload="auto" loop muted plays-inline class="media-zoom fade-in responsive vidLoop">
            <source src="vfx/Ice-Crystal.mp4" type="video/mp4">
        </video>

        <video autoplay preload="auto" loop muted plays-inline class="media-zoom fade-in responsive vidLoop">
            <source src="vfx/Laser-Sparks.mp4" type="video/mp4">
        </video>

        <video autoplay preload="auto" loop muted plays-inline class="media-zoom fade-in responsive vidLoop">
            <source src="vfx/Lightning.mp4" type="video/mp4">
        </video>

        <video autoplay preload="auto" loop muted plays-inline class="media-zoom fade-in responsive vidLoop">
            <source src="vfx/Lowpoly-Explosion.mp4" type="video/mp4">
        </video>

        <video autoplay preload="auto" loop muted plays-inline class="media-zoom fade-in responsive vidLoop">
            <source src="vfx/Lowpoly-Fire.mp4" type="video/mp4">
        </video>

        <video autoplay preload="auto" loop muted plays-inline class="media-zoom fade-in responsive vidLoop">
            <source src="vfx/Radial-Wave.mp4" type="video/mp4">
        </video>

        <video autoplay preload="auto" loop muted plays-inline class="media-zoom fade-in responsive vidLoop">
            <source src="vfx/Smoke.mp4" type="video/mp4">vidFix
        </video> -->


        <!-- ****************** PICTURE SECTION! ****************** -->
        <!-- <img class="media-zoom fade-in responsive" src="img/gamedev/ICT 2018 Wi.png" alt="">
        <img class="media-zoom fade-in responsive" src="img/gamedev/ICT 2019 Wi.png" alt="">
        <img class="media-zoom fade-in responsive" src="img/gamedev/Ludum Dare 36.png" alt="">
        <img class="media-zoom fade-in responsive" src="img/gamedev/Ludum Dare 37.png" alt="">
        <img class="media-zoom fade-in responsive" src="img/gamedev/Ludum Dare 39.png" alt="">
        <img class="media-zoom fade-in responsive" src="img/gamedev/Ludum Dare 41.png" alt="">
        <img class="media-zoom fade-in responsive" src="img/gamedev/Ludum Dare 42.png" alt="">
        
        <img class="media-zoom fade-in responsive" src="img/gamedev/ICT 2018 Wi.png" alt="">
        <img class="media-zoom fade-in responsive" src="img/gamedev/ICT 2019 Wi.png" alt="">
        <img class="media-zoom fade-in responsive" src="img/gamedev/Ludum Dare 36.png" alt="">
        <img class="media-zoom fade-in responsive" src="img/gamedev/Ludum Dare 37.png" alt="">
        <img class="media-zoom fade-in responsive" src="img/gamedev/Ludum Dare 39.png" alt="">
        <img class="media-zoom fade-in responsive" src="img/gamedev/Ludum Dare 41.png" alt="">
        <img class="media-zoom fade-in responsive" src="img/gamedev/Ludum Dare 42.png" alt="">

        <img class="media-zoom fade-in responsive" src="img/gamedev/ICT 2018 Wi.png" alt="">
        <img class="media-zoom fade-in responsive" src="img/gamedev/ICT 2019 Wi.png" alt="">
        <img class="media-zoom fade-in responsive" src="img/gamedev/Ludum Dare 36.png" alt="">
        <img class="media-zoom fade-in responsive" src="img/gamedev/Ludum Dare 37.png" alt="">
        <img class="media-zoom fade-in responsive" src="img/gamedev/Ludum Dare 39.png" alt="">
        <img class="media-zoom fade-in responsive" src="img/gamedev/Ludum Dare 41.png" alt="">
        <img class="media-zoom fade-in responsive" src="img/gamedev/Ludum Dare 42.png" alt="">

        <img class="media-zoom fade-in responsive" src="img/gamedev/ICT 2018 Wi.png" alt="">
        <img class="media-zoom fade-in responsive" src="img/gamedev/ICT 2019 Wi.png" alt="">
        <img class="media-zoom fade-in responsive" src="img/gamedev/Ludum Dare 36.png" alt="">
        <img class="media-zoom fade-in responsive" src="img/gamedev/Ludum Dare 37.png" alt="">
        <img class="media-zoom fade-in responsive" src="img/gamedev/Ludum Dare 39.png" alt="">
        <img class="media-zoom fade-in responsive" src="img/gamedev/Ludum Dare 41.png" alt="">
        <img class="media-zoom fade-in responsive" src="img/gamedev/Ludum Dare 42.png" alt=""> -->


      
 <!-- <script>
document.querySelector('video').addEventListener('ended', function(e) {
    e.target.currentTime = 0;
    e.target.play();
}, false);
</script> -->

<!-- <script>
function videoLoopFix(video)
{
  // When the 'ended' event fires
  video.addEventListener('timeupdate', function(){
    if(video.currentTime > video.duration * .90){
        // Reset the video to 0
        video.currentTime = 0.25;
        // And play again
        video.play();
    }
  });
}

var videos = document.getElementsByClassName('vidLoop');

for (var i = 0; i < videos.length; i++)
{
  videoLoopFix(videos[i]);
}

</script> -->

<!-- <script>
  var video = document.querySelector('vidLoop');       
  video.addEventListener('ended', function() {
    video.load();     
  });
</script> -->